@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    color: #698173;
}

body {
    background-image: linear-gradient(to right, #ADD6BF, #C0E0C6);
}

main {
    background-color: #D9D0C1;
    border: 10px, solid #C2501C;
    width: 600px;
    border-radius: 20px;
    padding: 40px;
    margin: auto;
}

#foto{
    display: inline-block;
    width: 200px;
}

#foto > img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#dados{
    margin-left: 60px;
    display: inline-block;
    width: 310px;
}

#estagio{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#dev{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.lista{
    padding-left: 16px;
}

#habil{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#idiomas{
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

p {
    text-align: justify;
}